.grid{
  
  #login-form{
    @include cover-bg(url("../assets/images/one_piece.jpg"), 0);
  }

  .row{
    justify-content: space-around;

    form{
      margin: auto;
      color: $animade-blue;
      background: $form-bg;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 25px;
      input{
        width: 100%;
        background: $light-grey;
        border: none;
      }
      .row .col-6{
        margin-bottom: 10px;
        margin-top: 5px;
      }
      .field{
        margin-bottom: 30px;

      }


      h1{
        text-align: center;
      }

      .button{
        background: $animade-blue;
        color: white;
        border: none;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
      }

    }
  }
}