$white: #FFF;
$grey: #AAA;
$light-grey: #EEEEEE;
$dark-grey: #444;
$red: #ce0a0a;
$green: #31aa66;
$black: #000;
$container-width: 1200px;
$animade-blue: #1486CD;
$side-bar-bg: #CFCFCF;
$form-bg: #F9F9F9;